<!-- Navigation Bar -->
<nav class="navbar">
    <div class="navbar-inner container-max-width">

        <a class="pointer" routerLink="/home" aria-label="Go to Home">
            <app-nav-logo></app-nav-logo>
        </a>
        
        <div class="nav-link-container full-height">
            <a class="nav-link pointer" routerLink="/services" routerLinkActive="active" aria-label="Go to Services">Services</a>
            <a class="nav-link pointer" routerLink="/projects" routerLinkActive="active" aria-label="Go to Projects">Projects</a>
            <a class="nav-link pointer" routerLink="/about" routerLinkActive="active" aria-label="Go to About Us">About Us</a>
            <a class="nav-link pointer" routerLink="/contact" routerLinkActive="active" aria-label="Go to Contact Us">Contact Us</a>
        </div>
    </div>
</nav>