/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after, p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

:root{
  font-size: 10px;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
//   font-family: "Lora", serif;
//   src: url("./assets/fonts/KumbhSans-VariableFont_wght.ttf");
}

body {
  overflow-x: hidden;
  height: 100%;
  font-family: "Lora", serif;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}

.container-max-width {
  max-width: 1420px;
}

.section-height{
    height: 100vh;
}

.pointer{
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
@media screen and (max-width: 599px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: rgba(0, 0, 0, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  min-height: 50px;
  background: rgb(15, 145, 15);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 179, 17);
}

h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2.4rem;
}
h4{
  font-size: 2rem;
}
p{
  font-size: 1.6rem;
  line-height: 1.6;
} 
span{
  font-size: 1.6rem;
}