<section class="feature-section">

  <div class="feature-section-header">
    <button type="button" title="Back Arrow" (click)="goBack()" class="back-btn">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <path d="M15 18l-6-6 6-6" stroke="currentColor" stroke-width="2" fill="none"
        stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <!-- Title -->
    <h2 class="section-title">{{ title }}</h2>
  </div>

  <!-- Rows -->
  <div 
    class="feature-row"
    >
    <!-- *ngFor="let item of data; let i = index"
    [class.reverse]="i % 2 !== 0" -->
    <!-- Text -->
    <div class="text-box">
      <p>{{ infoData.description }}</p>
    </div>

    <!-- Image -->
    <div class="image-box">
      <img [title]="infoData.title" [src]="infoData.image" [alt]="infoData.title || ''" />
    </div>
  </div>

</section>