.feature-section {
  width: 100%;
  padding: 3rem 2rem;

  &-header{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 2rem;

    h2{
      margin-bottom: 0;
    }
  }

  .section-title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
  }

  .feature-row {
    display: flex;
    // align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;

    .text-box {
      flex: 1;
    }

    .image-box {
      flex: 1;

      img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }

  .reverse {
    flex-direction: row-reverse;
  }
}

.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
}

